<div class="container">
  <h1>Ver Actividad</h1>

  <a href="#" routerLink="/actividad/list" class="btn btn-primary">Volver</a>

  <div>
    <strong>ID:</strong>
    <p>{{actividad.idActividad}}</p>
  </div>
  <div>
    <strong>Titulo:</strong>
    <p>{{actividad.titulo}}</p>
  </div>
  <div>
    <strong>Descripcion:</strong>
    <p>{{actividad.descripcion}}</p>
  </div>
  <div>
    <strong>Fecha:</strong>
    <p>{{actividad.fecha}}</p>
  </div>
  <div>
    <strong>Hora:</strong>
    <p>{{actividad.hora}}</p>
  </div>
  <div>
    <strong>Etapa:</strong>
    <p>{{actividad.etapa}}</p>
  </div>
  <div>
    <strong>Participantes Máximos:</strong>
    <p>{{actividad.participantesMax}}</p>
  </div>
</div>
